html,
body {
    margin: 0;
    padding: 0;
    background-color: #1b1924;
    font-family: 'Josefin Sans', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    margin: 20px 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.container .welcome-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: white;
}

.container .welcome-content img {
    height: 75px;
    width: 75px;
}

.container .create-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    gap: 10px;
}

.container .create-content textarea,
.container .create-content input,
.container .create-content button {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    border-radius: 10px;
    background-color: #444059;
    color: #8f8f8f;
    border: none;
}

.container .create-content input,
.container .create-content button {
    text-align: center;
}

.container .create-content textarea {
    height: 150px;
}

.container .create-content .input-group {
    display: flex;
    gap: 10px;
}

.container .create-content .input-group>input {
    flex: 1;
}

.container .create-content button {
    width: 100%;
    padding: 20px 0;
    font-size: 20px;
    background-color: #28a9f1;
    color: #04131c;
    border-radius: 10px;
    font-weight: bold;
    border: none;
}

.container .published-content {
    width: 100%;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.container .published-content .endorsements {
    background-color: #444059;
    color: #8f8f8f;
    flex: 1;
    width: 100%;
    text-align: left;
    overflow: auto;
    box-sizing: border-box;
    border-radius: 10px;
    height: 300px;
    padding: 5px;
    margin-bottom: 10px;
}

.container .published-content .endorsements button {
    background-color: #444059;
    color: #8f8f8f;
    border: 1px solid #8f8f8f;
    border-radius: 10px;
}

.container .published-content .button-group {
    width: 100%;
    display: flex;
    gap: 10px;
}

.container .published-content .button-group button {
    flex: 1;
    padding: 20px 0;
    font-size: 18px;
    background-color: #28a9f1;
    color: #04131c;
    border-radius: 10px;
    font-weight: bold;
    border: none;
}

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
    }

    .container .create-content .input-group {
        flex-direction: column;
    }

    .container .create-content .input-group>input {
        width: 100%;
    }
}