html,
body {
    margin: 0;
    padding: 0;
    background-color: #1b1924;
    font-family: 'Josefin Sans', sans-serif;
    height: 100vh;
}

#text-input::placeholder {
    text-align: left;
    vertical-align: top;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 20px;
    box-sizing: border-box;
    width: 80%;
}

.container .welcome-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: white;
}

.container .welcome-content img {
    height: 100px;
    width: 100px;
}

.container .create-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    gap: 10px;
}

.container .create-content textarea,
.container .create-content input,
.container .create-content button {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    border-radius: 10px;
    background-color: #444059;
    color: #8f8f8f;
    border: none;
}

.container .create-content textarea {
    height: 200px;
}

.container .create-content .input-group {
    display: flex;
    gap: 10px;
}

.container .create-content .input-group>input {
    flex: 1;
    padding: 10px 5px;
    box-sizing: border-box;
    text-align: center;
}

.container .create-content button {
    padding: 10px 0;
    font-size: 20px;
    background-color: #28a9f1;
    color: #04131c;
}

.container .publised-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}

.container .publised-content ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container .publised-content ul li {
    background-color: white;
    padding: 5px;
}

.publised-content {
    color: white;
}