html,
body {
    margin: 0;
    padding: 0;
    background-color: #1b1924;
    font-family: 'Josefin Sans', sans-serif;
    height: 100vh;
}

#text-input::placeholder {
    text-align: left;
    vertical-align: top;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px 20px;
    box-sizing: border-box;
    width: 60%;
}

.container .welcome-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: white;
}

.container .welcome-content img {
    height: 100px;
    width: 100px;
}

.container .create-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    flex-grow: 1;
}

.container .create-content #text-input {
    width: 100%;
    height: 200px;
    padding: 10px 0;
    box-sizing: border-box;
}

.container .create-content #from-input {
    width: 50%;
    box-sizing: border-box;
    padding: 10px 0;
}

.container .create-content #to-input {
    width: 50%;
    box-sizing: border-box;
    padding: 10px 0;
}

.container .create-content button {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 0;
}

.container .publised-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}

.container .publised-content ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.container .publised-content ul li {
    background-color: white;
    padding: 5px;
}