html,
body {
    margin: 0;
    padding: 0;
    background-color: #1b1924;
    font-family: 'Josefin Sans', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    box-sizing: border-box;
}

.container .welcome-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: white;
    font-size: 20px;
}

.container .welcome-content img {
    height: 100px;
    width: 100px;
}

.container .create-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    gap: 10px;
}

.container .create-content textarea,
.container .create-content input,
.container .create-content button {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    border-radius: 10px;
    background-color: #444059;
    color: #8f8f8f;
    border: none;
}

.container .create-content input,
.container .create-content button {
    text-align: center;
}

.container .create-content textarea {
    height: 200px;
}

.container .create-content .input-group {
    display: flex;
    gap: 10px;
}

.container .create-content .input-group>input {
    flex: 1;
}

.container .create-content button {
    width: 100%;
    padding: 20px 0;
    font-size: 20px;
    background-color: #28a9f1;
    color: #04131c;
    border-radius: 10px;
    font-weight: bold;
}

.container .published-content {
    width: 100%;
    color: white;
    text-align: center;
    font-size: 18px;
}

.container .published-content .endorsements {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none
}

.container .published-content ul {
    list-style-type: none;
    display: flex;
    width: 100%;
    padding-left: 0;
    box-sizing: border-box;
}

#endorsements-list {
    display: flex;
    flex-wrap: nowrap;
    min-width: 100%;
}

#endorsements-list li {
    scroll-snap-align: start;
    width: 100%;
    flex: none;
}

.container .published-content ul li {
    background-color: white;
    color: #04131c;
    flex: 1;
    width: 100%;
    text-align: left;
    overflow: auto;
    box-sizing: border-box;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .container {
        width: 80%;
    }

    .container .create-content .input-group {
        flex-direction: column;
    }

    .container .create-content .input-group>input {
        width: 100%;
    }
}