html,
body {
    margin: 0;
    padding: 0;
    background-color: #1b1924;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.container .welcome-content {
    display: flex;
    flex-direction: column;
    height: 10vh;
    text-align: center;
}

.container .welcome-content img {
    height: 80%;
}