html,
body {
    margin: 0;
    padding: 0;
    background-color: #1b1924;
    font-family: 'Josefin Sans', sans-serif;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px 20px;
    box-sizing: border-box;
}

.container .welcome-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: white;
}

.container .welcome-content img {
    height: 100px;
    width: 100px;
}

.container .create-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.container .create-content #text-input {
    flex: 1 0;
}

.container .publised-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.container .publised-content ul {
    list-style-type: none;
}

.container .publised-content ul li {
    background-color: white;
    padding: 5px;
}